@import '../../styles/variables.scss';

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.listContainer {
    flex: 1;
    margin-top: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $borders;
    color: $text;
}

.rowsContainer {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
}

.leftColumn {
    flex: 7;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightColumn {
    flex: 3;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cardListItem {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: $text;
    border-bottom: 1px solid $borders;
    align-items: center;
    cursor: pointer;
    flex-direction: row;

    :hover {
        background-color: $primary;
        color: $lowerBackground;
    }
}

.pageSelectDropDown{
    font-size: 14px;
    padding-left: 20px;
    display: flex;
    padding-bottom: 20px;

    select {
        margin-left: 10px;
    }
}
